<li data-node-num="<%=nodeNum%>">
    <div class="textContainer" data-node-num="<%=nodeNum%>">
        <div class="textAreaExpander" data-node-num="<%=nodeNum%>"></div>
        <textarea data-node-num="<%=nodeNum%>"></textarea>
    </div>
    <ul data-node-num="<%=nodeNum%>"></ul>
</li>
