$controlTheme: (
    name: controlMode,
    background-color: rgb(0,0,0),
    color: rgb(0, 255, 179),
    border-color: rgb(0, 255, 179),
    _focus_outline: 3px solid rgb(140, 255, 142)
);

$editTheme: (
    name: editMode,
    background-color: rgb(0,130,106),
    color: rgb(255,255,255),
    border-color: rgb(255,255,255),

    _focus_outline: 3px solid rgb(140, 255, 142) 
);


@mixin lbTheme($selector, $properties...) {
    @include applyTheme($selector, $properties, $controlTheme, $editTheme);
}

@font-face {
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/cutivemono-regular-webfont.woff) format('woff');
}

html {
    font-size: 80.5%;
    font-family: 'Cutive Mono';
    font-weight: 700;
}
body {
    font-size: 16px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;

    @include lbTheme(body, background-color, color);
}
 

textarea {   
    background-color: transparent;
    display: inline-block;
    font-family: 'Cutive Mono';
    resize: none;
    min-height:1.5rem;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    &:focus {
        outline: 3px solid rgb(99, 128, 255);
    }
    @include lbTheme(textarea, background-color, color, border-color);
}

.textAreaExpander {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
}

.textContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

table, th, td, textarea {
    border: 0.2rem solid;
    border-collapse: collapse;
}


th, td {
    padding: 5px;
}


th {
    font-weight: 600;
}

ul {
    list-style-type: none;
}
