$defaultTransition: 0.20s;

$transitionMap: (null: null);

@function buildTransitionString($properties) {
    $transitionString: null;

    @each $property in $properties {
        $transitionString: #{$transitionString} $property $defaultTransition#{","};
    }

    $indexBeforeTrailingComma: str-length($transitionString) - 1;

    @return str-slice($transitionString, 1, $indexBeforeTrailingComma)
}


@mixin applyTheme($selector, $properties, $themes...) {

    transition: buildTransitionString($properties);

    @if $selector == body {
        $selector: null;
    }
    @else {
        $selector: "&";
    }

    @each $theme in $themes {   
        $themeName: map_get($theme, "name");

        @at-root .#{$themeName} #{$selector} {
            background-color: look_up(background-color, $properties, $theme);
            color: look_up(color, $properties, $theme);
            border-color: look_up(border-color, $properties, $theme);
        }
        // @each $property, $value in $theme {
            
        // }

    }

}